.container {
    text-align: center;
    padding: 25px;
}

.buttonContainer {
    padding: 50px;
}

.buttonmenu {
    margin-bottom: 15px;
}

#hintContainer {
    padding-left: 130px;
    padding-right: 130px;
}