.container {
    text-align: center;
    padding: 25px;
}

.buttonContainer {
    padding: 50px;
}

.buttonmenu {
    margin-bottom: 15px;
}

.center-align {
    text-align: center;
}

#hintContainer {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 200px;
}

#answerbtnContainer {
    padding-left: 70px;
    padding-right: 70px;
}

#hintBtnContainer {
    padding-left: 70px;
    padding-right: 70px;
}
